<div class="user_container">
    <img class="user_image" src="<%= user.photo ? user.photo : 'https://reputationtoday.in/wp-content/uploads/2019/11/110-1102775_download-empty-profile-hd-png-download.jpg' %>">
    <ul class="user_info">
            <li class="name"><%= user.name %></li>
            <li class="user_posts">Number of posts: <%= user.posts_counter %></li>
    </ul>
</div>