<div class="user_container">
    <img class="user_image" src="<%= user.photo %>">
    <ul class="user_info">
            <li class="name"><%= user.name %></li>
            <li class="user_posts">Number of posts: <%= user.posts_counter %></li>
    </ul>
</div>